

@using System.Net.Mime
@using System.Text
@using Microsoft.AspNetCore.Mvc.ApiExplorer
@using Microsoft.Extensions.Primitives
@model Movie_Knight.Pages.UserComparison
@{ ArgumentNullException.ThrowIfNull(Model); }
<script>
function openTab(evt, viewName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(viewName).style.display = "block";
  evt.currentTarget.className += " active";
}

var fetchedMovies = []

function showHidenRow(rowId) { 
    let r = document.getElementById(rowId)
    let img = document.getElementById("img-"+rowId)
    console.log(fetchedMovies)
    let id = rowId.split("-")[1]

    if(!fetchedMovies.includes(id)){
        htmx.ajax('GET', '/_filters?movieId='+id, 
                    {target:'#'+rowId, swap:'outerHTML'})
                    /*.then(() => {
                    document.getElementById(rowId).style.display = "contents"
                    })*/
        fetchedMovies.push(id)
        return
    }
    let current = r.style.display 
    console.log(current)
    if(current !== "none"){
        r.style.display = "none"  
        img.src = "img/expand_more.svg"  
    }else{
        r.style.display = "contents"   
        img.src = "img/expand_less.svg"  
    }
    
} 

function filter(type, role, name){
    const params =  new Proxy(new URLSearchParams(window.location.search), {
                     get: (searchParams, prop) => searchParams.get(prop),
                   });
    let filterString = params.filterString;
    if(filterString === null){
        filterString = []
    }else{
        filterString = JSON.parse(filterString);    
    }
    filterString.push({"type":type,"role":role,"name":name})
    let users = params.userNames;
    console.log(type, role,name ,users ,filterString )

    htmx.ajax('GET', '/UserComparison?userNames='+users+'&filterString='+JSON.stringify(filterString), 
            {target:'#userAnalysis', swap:'innerHTML'}).then(() => {
         // this code will be executed after the 'htmx:afterOnLoad' event,
         // and before the 'htmx:xhr:loadend' event
         var url = window.location.protocol + "//" + window.location.host + window.location.pathname + '?userNames='+users+'&filterString='+JSON.stringify(filterString);
         window.history.pushState({path:url},'',url);

         console.log('Content inserted successfully!');
       });

}

</script>

<div class="tab container">
    <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'tableView')">Table</button>
    <button class="tablinks" onclick="openTab(event, 'graphView')">Graphs</button>
    <button class="tablinks" onclick="openTab(event, 'recommendationsView')">Recommendations</button>
</div>
<div id="tableView" class="tabcontent">
    @if (Model.SharedMovies is {} movies)
    {
        <table>
        @if (Model.ComparisonUsers is {} users)
        {

            <tr>
                <th>Name</th>
                @foreach (var user in users)
                {
                    <th>@user.username <br/> Δx̄ @Model.userDeltas[user.username]</th>
                }
                <th>Group Average Rating</th>
                <th>Total Delta to Average <br/> x̄ @(Model.SharedMovies.Sum(x => x.delta)
                                                        /Model.SharedMovies.Count)</th>
                <th></th>
            </tr>
            @foreach (var movie in movies)
            {
                <tr onclick="showHidenRow('info-@movie.movieData.id')">
                    <td>
                        <a href="https://letterboxd.com/film/film:@movie.movieData.id/">
                            @movie.movieData.name.Split("-").Select(x =>
                                x[..1].ToUpper() + x[1..]).Aggregate("", (x, y) => (x + " " + y))
                        </a>
                    </td>

                    @foreach (var user in users)
                    {
                        <td>@user.userList[movie.Item1.id]</td>
                    }
                    <td>@Math.Round(movie.Item2,2)</td>
                    <td>@movie.Item3</td>
                    <td >
                        <img src="img/expand_more.svg" id="img-info-@movie.movieData.id" alt="Expand"/>
                    </td>
                </tr>
                <tr id="info-@movie.movieData.id" class="hidden-row">
                </tr>
            }
        }
        </table>
    }
</div>

<!-- Graph Section -->
<!-- 60px per movie -->


<div id="graphView" class="tabcontent">

    <div>
        <canvas id="scatterPlot"></canvas>
    </div>
    <div>
        <canvas id="genreRadar"></canvas>
    </div>
    <div id="graphWrapper">
        <canvas id="movieScoreGraph"></canvas>
    </div>
    <style>
        #graphView {
          max-width: 100%;
        }
        #graphWrapper {
          overflow-x: auto;
          width: @(Model.SharedMovies.Count * 60)px;
          height: 500px
        }
        #graphWrapper > canvas {
              width: @(Model.SharedMovies.Count * 60)px;
        }
        #movieScoreGraph {
          overflow-x: auto;
        }
    </style>
    <script>
      var ctx = document.getElementById('movieScoreGraph');
    
      new Chart(ctx, {
        type: 'bar',
        data: {
          @Html.Raw(Model.barGraphData.ToString())
        },
        options: {
         responsive: true,
         plugins: {
           legend: {
             position: 'top',
           },
           title: {
             display: true,
             text: '20 Most Divisive Films'
           }
         }
       }
      });
      var stx = document.getElementById('scatterPlot');
      new Chart(stx, {
           type: 'scatter',
           data: @Html.Raw(Model.scatterPlotData.ToString()),
           options: {
               maintainAspectRatio: false,
               plugins:{
                    tooltip: {
                        callbacks: {
                            label: (context) => {
                                return `${context.raw.name}: Rating:  ${String(context.raw.y).substring(0,4)} Frequency: ${context.raw.x}`;
                            }
                        }
                    }
               } 
           } 
      });
      
    var rtx = document.getElementById('genreRadar');
    new Chart(rtx, {
         type: 'radar',
         data: @Html.Raw(Model.radarPlotData.ToString()),
         options: {
             scale: {
                 max: 10,
                 min: 0,
           
             }

         } 
         }
    );
    </script>

</div>


<!-- Recommendation Section -->
<div id="recommendationsView" class="tabcontent">
    <h3>Recommendations:</h3>
    <p>Recommendations are based on the following criteria:</p>
    <ul>
        <li>No users have seen the movie</li>
        <li>It is related to at least <b>two</b> movies that the group mean rating is > 8</li>
    </ul>
    @if (Model.movieRecs.Count == 0)
    {
        <h2>Congrats, I don't have any recommendations for you. </h2>
    }
    @foreach (var movie in Model.movieRecs)
    {           
        <div class="movieRec">
            <a href="https://letterboxd.com/film/film:@movie.id/"><h4>@movie.name.Split("-").Select(x => 
                    x[..1].ToUpper() + x[1..]).Aggregate("", (x, y) => (x + " " + y))</h4></a>
            <p>Duration: @movie.duration mins</p>
            <p>Genres: @movie.attributes.Where(x => x.role == "genre").Aggregate("",(x,y) => ""+y.name)
            </p>
        </div>
    }
</div>










<script>document.getElementById("defaultOpen").click();
</script>