

@using System.Net.Mime
@using System.Text
@using Microsoft.Extensions.Primitives
@model Movie_Knight.Pages.UserComparison
@{ ArgumentNullException.ThrowIfNull(Model); }



@if (Model.SharedMovies is {} movies)
{
    @if (Model.ComparisonUsers is {} users)
    {

        <tr>
            <th>Name</th>
            @foreach (var user in users)
            {
                <th>@user.username</th>
            }
            <th>Average Rating</th>
            <th>Total Delta to Average</th>
        </tr>
        @foreach (var movie in movies)
        {
            <tr>
                <td>
                    @movie.movieData.name.Split("-").Select(x =>
                        x[..1].ToUpper() + x[1..]).Aggregate("", (x,y) => (x +" "+y))
                </td>

                @foreach (var user in users)
                {
                    <td>@user.userList[movie.Item1.id]</td>
                }
                <td>@movie.Item2</td>
                <td>@movie.Item3</td>
            </tr>
        }
    }
}